* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(238, 238, 238);
}
.card {
  position: absolute;
  top: 50%;

  left: 50%;

  border-radius: 23px;

  width: 200px;
  height: 300px;
  perspective: 600px;
  transform: translate(-50%, -50%);
}
.front {
  border-radius: 23px;
  transform: rotateX(0deg);
  background-color: rgb(0, 0, 0);
  position: absolute;

  transition-duration: 500ms;
}
.front img {
  width: 200px;
  border-radius: 23px;
  height: 300px;
}

.back {
  background: black;
  position: absolute;
  padding: 20px;
  transition-duration: 500ms;
  border-radius: 23px;
  color: blue;
  transform: rotateX(180deg);
  perspective: 600px;
  width: 200px;
  height: 300px;
  backface-visibility: hidden;
}
.card:hover .front {
  transform: rotateX(-180deg);
  transition-duration: 500ms;
}
.card:hover .back {
  transform: rotateX(1deg);
  transition-duration: 500ms;
}
