<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GOOGLE</title>
</head>

<body>
    <div class="logo">
        <h1>
            <span class="blue">G</span><span class="red">O</span><span class="yellow">O</span><span
                class="blue">G</span><span class="green">L</span><span class="red">E</span>
        </h1>
    </div>
    <div class="search">
        <div class="search-icon"></div>
        <div class="asst-icon"></div>
    </div>
    <div class="websites">
        <div class="web">
            <div class="website">F</div>
            facebook
        </div>
        <div class="web">
            <div class="website">W</div>
            wikipedia
        </div>
        <div class="web">
            <div class="website">t</div>
            twitter
        </div>
        <div class="web">
            <div class="website">W3</div>
            w3schools
        </div>
        <div class="web">
            <div class="website">In</div>
            linkedin
        </div>
        <div class="web">
            <div class="website">W</div>
            wipro
        </div>
        <div class="web">
            <div class="website">H</div>
            hubsoft
        </div>
        <div class="web">
            <div class="website">G</div>
            github
        </div>
        <div class="web">
            <div class="website">T</div>
            tinder
        </div>
        <div class="web">
            <div class="website">T</div>
            tinder
        </div>
        <div class="web">
            <div class="website">T</div>
            tinder
        </div>
        <div class="web">
            <div class="website">T</div>
            tinder
        </div>
        <div class="web">
            <div class="website">T</div>
            tinder
        </div>
    </div>
</body>

</html>