 * {
     margin: 0;
     padding: 0;
     outline: 0;
     scroll-behavior: smooth;
     box-sizing: border-box;
     list-style-type: none;
 }
 
 body {
     background: rgb(168, 168, 168);
     color: white;
     -webkit-font-smoothing: antialiased;
 }
 
 input,
 button {
     border: 0;
     font-size: 14px;
     font-family: san-serif;
     border-radius: 6px;
     padding: 4px 12px;
     margin: 2px 5px;
 }
 
 button {
     cursor: pointer;
     background-color: rgb(53, 53, 53);
     color: white;
 }
 
 .fr {
     display: flex;
     flex-direction: row;
 }
 
 .fc {
     display: flex;
     flex-direction: column;
 }
 
 #navbar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 48px;
     line-height: 48px;
     background-color: rgb(163, 163, 163);
 }
 
 .logo {
     margin: 0px 20px;
 }
 
 .search {
     position: absolute;
     right: 0;
     align-content: flex-end;
     padding: 10px 4px;
     height: 48px;
     border-radius: 10px;
 }
 
 .menu {
     margin: 0px 20px;
 }