 @import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 * {
    scroll-behavior: smooth;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "rubik";
    /* font-weight: 900; */
    scroll-behavior: smooth;
}

body {
    background: rgb(255, 255, 255);
    color: black;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 15px;
    height: 35px;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.fc {
    display: flex;
    flex-direction: column;
}

.fr {
    display: flex;
    flex-direction: row;
}

.nt {
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 10px;
}

.bd {
    border-radius: 4px;
    border: 1px solid rgba(70, 69, 69, 0.062);
}

.mt {
    margin-top: 20px;
}

.dib {
    display: inline-block;
}

#des {
    color: rgb(29, 67, 192);
}

.acc {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navbar {
    /* position: fixed; */
    top: 0;
    height: 45px;
    width: 100%;
    background: white;
    font: 1em sans-serif    ;
    line-height: 45px;
    padding-top: 8px;
}

.logo-icon {
    background: url(../img/PngItem_786293.png);
    height: 40px;
    width: 40px;
    margin: 0px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-text {
    font-size: 16px;
    font-weight: bold;
}

#menu {
    position: absolute;
    width: fit-content;
    right: 30px;
    font-weight: 100;
}

.menu a {
    margin-left: 18px;
    color: grey;
}

.page {
    margin-top: 100px;
    margin-bottom: 40px;
}

.text-1 {
    text-align: center;
    width: 50vw;
    margin: auto;
}

.text-1 h4 {
    margin-top: 15px;
    line-height: 20px;
}

.mail {
    margin-top: 12px;
}

.mail button {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0px 10px;
    background: rgb(53, 150, 230);
}

.image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), white), url(../img/pic-1.png);
    background-size: cover;
    background-position: center top;
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 20px;
}

.cmtt {
    width: 50vw;
    height: 60vh;
}

#left {
    padding-left: 100px;
    padding-right: 140px;
    padding-top: 140px;
}

.textbox {
    width: 100%;
}

.dev-info {
    margin-top: 60px;
}

.textbox p {
    padding-top: 30px;
    color: grey;
}

#right .img {
    margin-top: 15vh;
    margin-left: 10vw;
    height: 44vh;
    width: 39vw;
    background: url(../img/hand.png);
    background-size: cover;
    background-position: center;
}

.bgimg {
    background: url(./webpage.png);
    width: 80vw;
    height: 60vh;
    margin: auto;
}

.mobile {
    height: 20vh;
}

#page-4 {
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.text-page-4 {
    height: 70vh;
}

.mobimg {
    background: url(../img/mobile-error.png);
    height: 70vh;
    width: 43vw;
}

.PROJECTS {
    margin: auto;
    width: 720px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.logo {
    height: 45px;
    width: 45px;
    background: rgba(73, 100, 250, 0.541);
    border-radius: 50%;
}

.flex {
    /* height: 250px; */
    width: -webkit-fill-available;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(182, 182, 182);
}

.flex-text {
    position: relative;
    /* bottom: -50%; */
}

.flex-text h5 {
    color: gray;
}

#page-6 {
    padding-top: 40px;
}

.text-6 {
    height: 30vh;
    width: 70vw;
    margin: auto;
}

.text-6 button {
    padding: 5px 12px;
    background: rgb(53, 150, 230);
    color: white;
}

.footer {
    padding-top: 0px;
    width: 50vw;
    height: 40vh;
    border-top: 1px solid rgba(201, 201, 201, 0.432);
    margin: auto;
}

.footer .logo-icon {
    margin-bottom: 30px;
}

.footer-menu li {
    margin: 0px 20px;
    font-size: 14px;
    color: grey;
}

.endline li {
    margin-top: 45px;
    font-size: 10px;
}

#menu-0 {
    pointer-events: none;
}

#menu-0 a {
    color: white;
}

@media only screen and (max-width: 768px) {
    #navbar {
        line-height: 30px;
        /* overflow: hidden;s */
        background: white;
        z-index: 10;
    }
    #logo .logo-icon {
        height: 30px;
        width: 30px;
    }
    #menu {
        top: 44px;
        padding: 10px;
        right: 10px;
        flex-direction: column;
        border-radius: 23px;
        background: rgb(32, 119, 201);
        display: none;
    }
    .menu {
        font-size: 12px;
    }
    .menu a {
        display: inline-block;
        width: 100%;
        color: white;
        margin-left: 4px;
        padding: 2px 5px;
    }
    #menu-0 a {
        position: absolute;
        background: rgb(32, 119, 201);
        right: 17px;
        border-radius: 12px;
        width: 80px;
        padding-left: 20px;
    }
    .text-1 {
        width: 85vw;
    }
    .text-1 h4 {
        margin-top: 0px;
    }
    h1 {
        font-size: 20px;
    }
    .image {
        margin-top: 10vh;
        width: 80vw;
        height: 60vw;
    }
    .textbox h2 {
        font-size: 20px;
    }
    #left {
        padding: 15px;
        height: 30vh;
    }
    #left p {
        padding-top: 10px;
    }
    .dev-info {
        margin-top: 20px;
    }
    #right {
        height: 30vh;
    }
    #rightt {
        height: 30vh;
    }
    #right .img {
        margin-top: 0px;
        height: 30vh;
        width: 100%;
        margin-left: 0px;
    }
    .mobile {
        height: 10vh;
    }
    .bgimg {
        height: 25vh;
        width: 100vw;
        background-size: cover;
    }
    .mobimg {
        background-size: cover;
        height: 30vh;
    }
    #page-4 {
        height: 34vh;
    }
    #page-5 {
        margin-top: 5vh;
    }
    .PROJECTS {
        width: 90vw;
        margin: auto;
        margin-top: 20px;
    }
    .flex {
        width: 25vw;
        height: 30vh;
    }
    .flex-text h3 {
        font-size: 10px;
        position: relative;
    }
    .footer {
        width: 90vw;
    }
    .footer-menu li {
        font-size: 12px;
        margin: 0px 7px;
        width: fit-content;
    }
    .endline {
        margin-top: 20px;
    }
    #menu-0 {
        pointer-events: all;
    }
}

#rotate_anime{
    animation: rotet 50s linear ;
}

@keyframes rotet {
    0%{
        transform: rotate(360deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}