* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 16px;
    font-family: poppins;
}

button {
    cursor: pointer;
}

#root {
    height: 80vh;
    width: 80vw;
    border: 0;
    margin: auto;
    background-color: #fff;
    margin-top: 10vh;
}