body {
    background-color: #000;
    font-family: 'poppins',sans-serif;
}


.container {
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(70, 78, 151);
}

.card {
    border-radius: 20px;
    width: 100%;
    background-color: darkslategrey;
}

.cardo {
    border-radius: 20px;
    width: 30%;
    background-color: rgb(126, 179, 179);
}
.container .head{
background-color: rgba(206, 221, 221, 0.822);
border-radius: 20px;
color: white;
}
.card-body {
    border-radius: 10px;
margin-bottom: 10px;
 
}

.cards-body {
    border-radius: 10px;
height: 200px;
overflow-y:auto;
scroll-padding-right: 10px;
scrollbar-width: 2px;
padding: 20px;
border-radius: 20px;
background-color: rgb(139, 139, 139);
color: white;
box-shadow: 1px 1px 20px 0px #0000006b;
}
.card-text{
    overflow: auto;
}
.fa-sticky-note-o{
font-size: 40px;
color
:white;
}
.delb {
    width: 12%;
position: absolute;
text-align: end;

margin-bottom: 10px;
bottom: 0px;
float: right;
margin-top: 120px;
border-radius: 20px;
}
.adn {
cursor: pointer;

width: 4.9%;
height: 52px;
border-radius: 100px;
margin-right: 10px;
}
.srh{
border: 1px solid rgb(70, 78, 151);
color:  rgb(70, 78, 151);
}
.srh:hover{
border: 1px solid rgb(70, 78, 151);
background-color: rgb(70, 78, 151);
color: white;
}