<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Dropdown</title>
</head>

<body>
    <div class="mainframe">
        <div class="box">
            <div id="toggle" onclick="Close()"></div>
            <div id="dropdown-menu">
                <li>Home</li>
                <li>Gallery</li>
                <li>About</li>
                <li>More</li>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>